div {
    display: inline-block;
}
.hidden {
    display: none;
}

img {
    position: absolute;
    width: 100%;
    height:100%;
    z-index:-1;
}

button1, button2 {
    outline: none;
    border: 1px solid lightcoral;
    /* background-color: lightcoral; */
    margin: 5px;
}

body, html {
    width: 100vw;
    height: 100vh;
    position:relative;
    margin:0;
    padding:0;
}

#weather {
    position: fixed;
    right: 10px;
    top: 40px;
    color: lightcoral;
    transform: translate(-20px);
    font-family: fantasy;
    font-size: 25px; 
    text-shadow: 1px 1px rgb(30%);
    text-align:right;
    background-color: black;
}

#dateday {
    position: fixed;
    right : 10px;
    top : 40px;
    transform: translate(-20px, 50px);
    color: lightcoral;
    font-family: fantasy;
    text-shadow: 1px 1px rgb(30%);
    text-align:right;
    font-size: 20px;
    background-color: black; 
}

#clock {
    position: fixed;
    right: 10px;
    top: 40px;
    transform: translate(-20px, 55px);
    color: lightcoral;
    font-family: fantasy;
    font-size: 50px;
    text-shadow: 1px 1px rgb(30%);
    text-align:right;
    background-color: black;
    
}

#todo-form input { /*할일 받는*/
    position: absolute;
    width: 380px;
    left: 40%;
    top: 10%;
    transform: translate(-53px);
    color: lightcoral;
    text-align: center;
    font-size: 30px;
    font-family: fantasy;
    padding: 10px 0;
    background-color: black;
}

#todo-list {
    width: 400px;
    position: absolute;
    left: 40%;
    top: 20%;
    transform: translate(-100px);
    color: lightcoral;;
    font-family: fantasy;
    font-size: 30px;
    text-shadow: 1px 1px rgb(30%);
    list-style:none;
}

#todo-list li {
    padding: 4px 0;
    padding-left: 20px;
    margin: 10px;
    background-color: black;
}

#login-form {
    position: absolute;
    left: 0%;
    top: 4%;
    transform: translate(-50%);
    color: lightcoral;
    font-family: fantasy;
    font-size: 40px;
    text-shadow: 1px 1px rgb(30%);
}

#name { /*login-form  input:first-child*/
    position: absolute;
    left: 0%;
    top: 0%;
    transform: translate(125px, 10px);
    color: lightcoral;
    font-family: fantasy;
    font-size: 25px;
    text-align: center;
    border: 1px solid;
    font-size: 30px;
    padding: 10px 0;
    width: 300px;
    margin:0;
    background-color: black;
}

#login { /*login-form  input:last-child8*/
    position: absolute;
    left: 0%;
    top: 0%;
    transform: translate(10px, 10px);
    color: lightcoral;
    font-family: fantasy;
    font-size: 25px;
    text-align: center;
    border: 1px solid;
    font-size: 30px;
    padding: 10px 0;
    width: 100px;
    margin:0;
    background-color: black;
}

#greeting { /*hello~*/
    position: absolute;
    left: 0%;
    top: 0%;
    transform: translate(10px, 40px);
    color: lightcoral;
    font-family: fantasy;
    font-size: 40px;
    margin:0;
    padding: 10px 0;
    text-shadow: 1px 1px rgb(30%);
    background-color: black;
}

#quote {
    position: absolute;
    right: 10px;
    bottom: 5%;
    color: lightcoral;
    font-family: fantasy;
    font-size: 20px; 
    transform: translate(-20px);
    text-shadow: 1px 1px rgb(30%);
    text-align:right;
    background-color: black;
}
